body {
    background-color: rgb(250,250,250);
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mainHeader {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.toggler {
    margin-left: 500px;
}

.image {
    width: 80px;
    border-radius: 100%;
    margin-right: 50px;
}
.header {
    color: darkslategray;
}

@media (max-width: 770px){
    .container {
        margin: 0 10%;
    }

    .image {
        width: 35% !important; 
    }
}